
.body_container {
  min-height: 500px;
  height: auto;
  display: grid;
  
  grid-template-columns: 400px 400px;
  grid-template-rows: repeat(auto-fill,1fr);
  justify-content: center;
  
}

.leftcontent {
 grid-column: 1 / 2;

 display:flex; 
 align-items:center;
 

}
.leftcontent>img {

  max-width:80%; 
  position: relative;
  left:10%;
  border-radius: 10px;
  border: solid;
  border-color: slategray;
}
.rightcontent {
  grid-column: 2 / 3;
  display: inline;
}

.rightcontent>div:nth-child(1){
font-size: 40px;
margin: 20% 0;
text-align: center;
border-top: solid;
border-bottom: solid;
background-color: #2F4F4F;
}
.rightcontent>div:nth-child(2){
font-size: 20px;  
line-height: 120%;
}